[submodule "kirby"]
	path = kirby
	url = https://github.com/lehni/kirby2-core.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "site/plugins/jade"]
	path = site/plugins/jade
	url = https://github.com/lehni/jade.php.git
